<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="h-screen">
    <div class="min-h-screen bg-white">
      <nav class="bg-white">
        <div class="max-w-7xl mx-auto">
          <div class="grid sm:grid-cols-4">
            <div class="sm:mr-8">
              <%= side_nav do |nav| %>
                <% nav.link "Breadcrumbs", components_breadcrumbs_path, "calendar" %>
                <% nav.link "Button link to", components_button_link_to_path, "calendar" %>
                <% nav.link "Footer", components_footer_path, "calendar" %>
                <% nav.link "Form", new_person_path, "calendar" %>
                <% nav.link "Notice", components_notice_path, "calendar" %>
                <% nav.link "Pagination", components_pagination_path, "calendar" %>
                <% nav.link "Table", components_table_path, "calendar" %>
                <% nav.link "Alert", components_alert_path, "calendar" %>
              <% end %>
            </div>
            <div class="sm:col-span-3 sm:col-start-2">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
