<div class="rounded-md p-4 shadow <%= {warn: "bg-yellow-50", info: "bg-blue-50", danger: "bg-red-50"}[type] %>">
  <div class="flex">
    <div class="flex-shrink-0">
      <% if warn? %>
        <%= icon('exclamation', class: "h-5 w-5 text-yellow-400" ) %>
      <% elsif info? %>
        <%= icon('info-circle', class: "h-5 w-5 text-blue-400" ) %>
      <% elsif danger? %>
        <%= icon('exclamation', class: "h-5 w-5 text-red-400" ) %>
      <% end %>
    </div>
    <div class="ml-3">
      <h3 class="text-sm font-semibold <%= {warn: "text-yellow-800", info: "text-blue-800", danger: "text-red-800"}[type] %>">
        <%= title %><% if info %>: <span class="mt-2 text-sm font-normal"><%= info %></span><% end %>
      </h3>

      <div class="mt-2 text-sm <%= {warn: "text-yellow-700", info: "text-blue-700", danger: "text-red-700"}[type] %>">
        <%= content %>
      </div>
    </div>
  </div>
</div>
