<div class="flex flex-col sm:flex-row sm:flex-wrap">
  <div class="mt-2 sm:mt-2 mr-6 flex items-center text-sm text-gray-900">
    <%= icon("email-fill", class: "flex-shrink-0 mr-2 h-5 w-5 text-gray-400") %>
    <% if @person.email %>
      <%= mail_to @person.email %>
    <% else %>
      <span class="italic">unknown</span>
    <% end %>
  </div>
  <div class="mt-2 sm:mt-2 mr-6 flex items-center text-sm text-gray-900">
    <%= icon("telephone-fill", class: "flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400") %>
    <% if @person.phone and @person.phone_alternative %>
      <%= @person.phone %> / <%= @person.phone_alternative %>
    <% elsif @person.phone %>
      <%= @person.phone %>
    <% elsif @person.phone_alternative %>
      <%= @person.phone_alternative %>
    <% else %>
      <span class="italic">unknown</span>
    <% end %>
  </div>
  <div class="mt-2 sm:mt-2 mr-6 flex items-center text-sm text-gray-900">
    <%= icon("house-fill", class: "flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400") %>
    <% if address_to_string(@person).present? %>
      <%= address_to_string(@person) %>
    <% else %>
      <span class="italic">unknown</span>
    <% end %>
  </div>
</div>
