<div class="shadow border-b border-gray-200 bg-white sm:rounded-lg py-4 px-6">
  <div class="flex justify-between items-center">
    <%= left_aligned_actions %>
    <div class="py-3 flex items-center justify-between border-gray-200 sm:px-2">
      <div class="flex-1 flex items-center justify-end">
        <div class="mr-2">
          <p class="text-sm text-gray-700">
            <%= pagy&.from %> to <%= pagy&.to %> of <%= pagy&.count %>
          </p>
        </div>
        <div>
          <nav>
            <% if pagy.page == 1 %>
              <div class="relative inline-flex items-center px-2 py-2 text-gray-500 cursor-not-allowed">
                <span class="sr-only">Previous</span>
                <%= icon("chevron-left", class: "h-5 w-5") %>
              </div>
            <% else %>
              <a href="<%== pagy_url_for(pagy.prev, pagy) %>" class="relative inline-flex items-center px-2 py-2 text-gray-500 rounded-full hover:bg-gray-200">
                <span class="sr-only">Previous</span>
                <%= icon("chevron-left", class: "h-5 w-5") %>
              </a>
            <% end %>
            <% if pagy.page == pagy.last %>
              <div class="relative inline-flex items-center px-2 py-2 text-gray-500 cursor-not-allowed">
                <span class="sr-only">Next</span>
                <%= icon("chevron-right", class: "h-5 w-5") %>
              </div>
            <% else %>
              <a href="<%== pagy_url_for(pagy.next, pagy) %>" class="relative inline-flex items-center px-2 py-2 text-gray-500 rounded-full hover:bg-gray-200">
                <span class="sr-only">Next</span>
                <%= icon("chevron-right", class: "h-5 w-5") %>
              </a>
            <% end %>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <% if items.present? %>
    <%= body %>
  <% else %>
    <div class="flex justify-center text-gray-600">
      No records.
    </div>
  <% end %>
</div>
