<div class="shadow border-b border-gray-200 bg-white sm:rounded-lg py-4 px-6">
  <div class="flex items-center text-gray-500">
    <%= link_to back_path, class: "back flex-1" do %>
      <%= icon("arrow-left", class: "w-6 h-6") %>
    <% end %>
    <div class="flex items-center mr-5">
      <%= right_aligned_actions %>
    </div>
    <div class="text-sm mr-1 text-gray-700">
      <%= current_index + 1 %> of <%= total %>
    </div>
    <%= link_to prev_path, class: "previous mr-3 flex items-center justify-center w-8 h-8 rounded-full #{current_index == 0 ? 'text-gray-300 cursor-default' : 'hover:bg-gray-200'}" do %>
      <%= icon("chevron-left", class: "w-5 h-5") %>
    <% end %>
    <%= link_to next_path, class: "next flex items-center justify-center w-8 h-8 rounded-full #{current_index == total - 1 ? 'text-gray-300 cursor-default' : 'hover:bg-gray-200'}" do %>
      <%= icon("chevron-right", class: "w-5 h-5") %>
    <% end %>
  </div>
  <div class="mt-8 mb-3 sm:px-2 flex flex-1 justify-between">
    <%= body %>
  </div>
</div>
