<div data-controller="multiple-select"
    data-multiple-select-initial-selected-options="<%= @initial_selected_options %>"
    data-multiple-select-id="<%= @id %>"
    data-multiple-select-name="<%= @name %>">

  <% if false %>
    <button data-action="click->multiple-select#close" tabindex="-1" class="hidden fixed inset-0 h-full w-full bg-black opacity-50 cursor-default">
    </button>
  <% end %>

  <% if false %>
    INPUT_CLASSES = "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md".freeze
    INPUT_ERROR_CLASSES = "shadow-sm block w-full sm:text-sm rounded-md border-red-300 text-red-900 placeholder-red-900 focus:outline-none focus:ring-red-500 focus:border-red-500".freeze
  <% end %>

  <div>
    <div class="my-2 p-1 flex border bg-white shadow-sm focus:ring-indigo-500 focus:border-indigo-500 inline w-full sm:text-sm border-gray-300 rounded-md">
      <div data-action="click->multiple-select#open" class="flex flex-auto flex-wrap" data-multiple-select-target="selected">

        <input name="<%= @name %>[]"
          id="<%= @id %>"
          type="text"
          hidden="true">

        <div class="flex-1">
          <input placeholder="Select..." class="bg-transparent p-1 px-2 appearance-none outline-none h-full w-full text-gray-800">
        </div>
      </div>
      <div class="text-gray-300 w-8 py-1 pl-2 pr-1 flex items-center border-gray-200">
        <button data-multiple-select-target="open" data-action="click->multiple-select#open" class="cursor-pointer w-6 h-6 text-gray-400 outline-none focus:outline-none">
          <%= icon("caret-down", class: "w-4 h-4") %>
        </button>
        <button data-multiple-select-target="close" data-action="click->multiple-select#close" class="hidden cursor-pointer w-6 h-6 text-gray-400 outline-none focus:outline-none">
          <%= icon("caret-up", class: "w-4 h-4") %>
        </button>
      </div>
    </div>

    <!-- close by clicking outside -->
    <!-- styling -->
    <!-- width of dropdown -->
    <!-- select goes off the screen to right -->

    <div data-multiple-select-target="dropdown" class="hidden absolute shadow top-100 bg-white z-40 rounded max-h-select overflow-y-auto">
      <div class="flex flex-col w-full">

        <% @collection.each do |element| %>
          <button data-action="click->multiple-select#select" data-label="<%= element[0] %>" value="<%= element[1] %>" class="flex cursor-pointer w-full border-gray-100 rounded-b focus:outline-none">
            <div class="flex w-full items-center p-2 pl-2 border-transparent border-l-2 relative">
              <!-- <%= icon("check", class: "hidden text-gray-600 w-6 h-6") %> -->
              <div class="w-full items-center flex">
                <div class="mx-2 leading-6"><%= element[0] %></div>
              </div>
            </div>
          </button>
        <% end %>

      </div>
    </div>
  </div>
</div>
