<div class="flex items-center justify-between border-gray-200 <%= "py-3 sm:px-2" unless no_padding %>">
  <div class="flex-1 flex justify-between sm:hidden">
    <a href="#" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 hover:text-gray-500">
      Previous
    </a>
    <a href="#" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 hover:text-gray-500">
      Next
    </a>
  </div>
  <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
    <div>
      <p class="text-sm text-gray-700">
        Displaying
        <span class="font-medium"><%= @pagy&.from %></span>
        to
        <span class="font-medium"><%= @pagy&.to %></span>
        of
        <span class="font-medium"><%= @pagy&.count %></span>
        <%= @things %>
      </p>
    </div>
    <div>
      <nav class="relative z-0 inline-flex shadow-sm -space-x-px" aria-label="Pagination">
        <% if @pagy.page == 1 %>
          <div class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 text-sm font-medium text-gray-500 cursor-not-allowed">
            <span class="sr-only">Previous</span>
            <%= icon("chevron-left", class: "h-5 w-5") %>
          </div>
        <% else %>
          <a href="<%== pagy_url_for(@pagy, @pagy.prev) %>" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 text-sm font-medium text-gray-500 hover:bg-gray-50">
            <span class="sr-only">Previous</span>
            <%= icon("chevron-left", class: "h-5 w-5") %>
          </a>
        <% end %>
        <% @pagy.series.each do |item| %>
          <% if item.is_a?(Integer) # not the current page %>
            <%= link_to item, pagy_url_for(@pagy, item), class: "relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium text-gray-700 hover:bg-gray-50" %>
          <% elsif item.is_a?(String) # the current page %>
            <%= link_to item, pagy_url_for(@pagy, item), class: "relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium text-gray-700 bg-gray-200" %>
          <% elsif item == :gap %>
            <div class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium text-gray-700">...</div>
          <% end %>
        <% end %>
        <% if @pagy.page == @pagy.last %>
          <div class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 text-sm font-medium text-gray-500 cursor-not-allowed">
            <span class="sr-only">Next</span>
            <%= icon("chevron-right", class: "h-5 w-5") %>
          </div>
        <% else %>
          <a href="<%== pagy_url_for(@pagy, @pagy.next) %>" class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 text-sm font-medium text-gray-500 hover:bg-gray-50">
            <span class="sr-only">Next</span>
            <%= icon("chevron-right", class: "h-5 w-5") %>
          </a>
        <% end %>
      </nav>
    </div>
  </div>
</div>
