<%= render(OclTools::ModalComponent.new modal_width: narrow? ? "max-w-3xl" : "max-w-7xl") do |component| %>
  <% component.title do %>
    <div class="flex justify-between">
      <div class="flex justify-start gap-x-4 items-baseline">
        <div class="text-2xl font-bold text-gray-900">
          <%= process.title %>
        </div>
        <div class="text-gray-600">
          <%= process.try(:step_title) || process.humanized_state %>
        </div>
      </div>
      <%= form_with(scope: scope, builder: OclTools::TailwindFormBuilder, url: current_path, method: :put, local: true) do |form| %>
        <%= form.unstyled_button value: 'cancel' do %>
          <%= icon('cross', class: "h-5 w-5") %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <% component.body do %>
    <%= render OclTools::ProcessFormComponent.new(process, scope: scope, component: process_component, path: current_path) %>
  <% end %>
<% end %>
